extends ../components/main.pug

block content
    div(class="area")
        article
            h1 About
            p 
                em 
                    u The IRC server was set up for educational purposes only. 
            p Here additional details about the server

            h4 The IRC server has been set up with 
                a(href="https://www.inspircd.org/") InspIRCd.

            div(class="square-brackets-quote")
                blockquote 
                    p InspIRCd is a modular Internet Relay Chat (IRC) server written in C++ for Linux, BSD, Windows and macOS systems. 
                    p It was created from scratch to be stable, modern and lightweight. It provides a tunable number of features through the use of an advanced but well documented module system. By keeping core functionality to a minimum we hope to increase the stability, security and speed of InspIRCd while also making it customisable to the needs of many different users.

                    cite InspIRCd


            p 
                h4 Services are managed by 
                    a(href="https://atheme.github.io/") Atheme.

            div(class="square-brackets-quote")
                blockquote 
                    p Atheme is feature-packed, fast, efficient, customisable, extendable and ubiquitous. Atheme is the leader in revolutionary new features, and is still the leader in stability and dependability.
                    cite Atheme

            h3 Website
            p The website was built using 
                a(href="https://pugjs.org/") Pug 
                | (pug-cli) and  
                a(href="https://sass-lang.com/") SASS.
            p The source of the server page is available on 
                a(href="https://github.com/skorotkiewicz/irc-cheetsheet") github 
                | just like  
                a(href="https://github.com/skorotkiewicz/goosesstats") this page.