extends ../components/main.pug

block content
    div(class="area")
        h3 Access to Bouncer
        article 
            p ZNC does not have the ability to register users publicly, so if you need a BNC account, please write to the 
                strong  #MoooBNC 
                | channel, my nick is 
                strong suite.
            p If I don't answer for 5 minutes, write me a private message on IRC with your nickname you want to use as BNC login.
            p You can either stay on IRC or send me your email address to which I should send the access data to your account. 