extends ../components/main.pug

block content
    div(class="area")

        div(class="hello")
            pre
                |   ______                                         ____
                |  / ____/___  ____  ________  ______      _____  / / /
                | / / __/ __ \/ __ \/ ___/ _ \/ ___/ | /| / / _ \/ / / 
                |/ /_/ / /_/ / /_/ (__  )  __(__  )| |/ |/ /  __/ / /  
                |\____/\____/\____/____/\___/____/ |__/|__/\___/_/_/   

            h2 = gooseswell.mooo.com =
                small yet another irc server for fun
