extends ../components/main.pug

block content
    div(class="area")
        h1 Operators

        article
            div(class="staff")
                table
                    thead
                        tr
                            th Operator
                            th Channels
                    tbody
                        tr
                            td doxus
                            td #MoooNET, #wykop

            h1 Server admins
            div(class="staff")
                p suite