extends ../components/main.pug

block content
    div(class="area")
        article 
            h3 Statistics and news

            p The work on the server is ongoing daily, so I will keep you informed about important changes and news about the IRC server.

            p If you found any bug you can write to me on  
                strong #MoooNET 
                | or send a private message, my nickname is  
                strong suite.