div(class="links")
    nav
        ul
            li
                a(href="https://gooseswell.mooo.com/") >server
            li
                a(href="https://goosesbnc.mooo.com/") >bouncer
            li
                a(href="staff.html") >staff
