div(class="links")
    nav
        ul
            li
                a(href="https://gooseswell.mooo.com/") >server
            li
                a(href="https://goosesbnc.mooo.com/") >bouncer
            li
                a(href="https://kiwiirc.com/nextclient/gooseswell.mooo.com:+6697/?nick=mooo%7C?#MoooNET") >webchat
            li
                a(href="staff.html") >staff
