div(class="side")

    h2(class="blog") Rollblog
    ul
        li
            a(href="/") index/
        //- li
        //-     a(href="/hello.html") hello/
        li
            a(href="/stats.html") stats/
        li
            a(href="/bouncer.html") bouncer/
        li
            a(href="/about.html") about/
